

/* Custom global styles */




/* button:hover {
  background-color: rgb(163, 11, 11);
} */

/* Root container styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


